__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.sqlite3
*.db
.DS_Store
.coverage
htmlcov/
.pytest_cache/
*.log
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
.env
celerybeat-schedule
/node_modules
/node_modules/
client/node_modules/
logs/
*.log