__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.sqlite3
*.db
.DS_Store
.coverage
htmlcov/
.pytest_cache/
*.log
instance/
.webassets-cache
.ipynb_checkpoints
.python-version
.env
celerybeat-schedule
.vscode/

# Frontend
client/node_modules/
client/build/
client/.env

# OS
Thumbs.db
Desktop.ini

# Nested duplicates
BeenCoin/
BeenCoin-1/
